{% assign current = page.url | downcase | split: '/' %}

<aside class="sidenav" id="menu-content">
  <nav>
    <ul class="usa-sidenav-list">
      <li>
        <a {% if current[1] == 'overview' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/overview/">Overview</a>
      </li>
      <li>
        <a {% if current[1] == 'buttons' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/buttons/">Buttons</a>
      </li>
      <li>
        <a {% if current[1] == 'textlinks' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/textlinks/">Text links</a>
      </li>
      <li>
        <a {% if current[1] == 'images' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/images/">Images</a>
      </li>
      <li>
        <a {% if current[1] == 'tables' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/tables/">Tables</a>
      </li>
      <li>
        <a {% if current[1] == 'alerts' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/alerts/">Alerts</a>
      </li>
      <li>
        <a {% if current[1] == 'accordions' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/accordions/">Accordions</a>
      </li>
      <li>
        <a {% if current[1] == 'modules' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/modules/">Modules</a>
      </li>
      <li>
        <a {% if current[1] == 'form-controls' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/form-controls/">Form controls</a>
        <ul class="usa-sidenav-sub_list form-controls-sublist">
          <li>
            <a href="{{ site.baseurl }}/form-controls/#text-inputs">Text inputs</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/form-controls/#dropdown">Dropdown</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/form-controls/#checkboxes">Checkboxes</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/form-controls/#radiobuttons">Radio buttons</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
